<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.user.video_detail">

    <dist:module
            dist:instant="false"
            dist:onDemand="true"
            dist:title="@string/title_video_detail">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".videodetail.TestActivity">
        </activity>
        <activity android:name=".videodetail.VideoDetailActivity">
        </activity>
    </application>

</manifest>